{% extends 'site.html.twig' %}

{% block title %}Add a Hotel{% endblock title %}

{% block lable %}
    <h1>Add a Hotel</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Hotel Form</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.location) }}
                            {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.rating) }}
                            {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.rating) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.contact) }}
                            {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.contact) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.website) }}
                            {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.category) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.timeIn) }}
                            {{ form_widget(form.timeIn, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.timeIn) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.timeOut) }}
                            {{ form_widget(form.timeOut, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.timeOut) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.photo) }}
                        {{ form_widget(form.photo, {'attr': {'class': 'form-control-file'}}) }}
                        {{ form_errors(form.photo) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.policies) }}
                        {{ form_widget(form.policies, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.policies) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save Hotel" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    {% if randomHotel %}
                        <h3 class="mb-5">Featured Hotel</h3>
                        <div class="media d-block room mb-0">
                            <figure>
                                {% if randomHotel.photo %}
                                    <img src="{{ asset('uploads/photos/' ~ randomHotel.photo) }}" alt="{{ randomHotel.name }}" class="img-fluid">
                                {% else %}
                                    <img src="{{ asset('images/img_1.jpg') }}" alt="Default Image" class="img-fluid">
                                {% endif %}
                                <div class="overlap-text">
                                    <span>
                                        {{ randomHotel.name }}
                                        {% for i in 1..randomHotel.rating %}
                                            <span class="ion-ios-star"></span>
                                        {% endfor %}
                                    </span>
                                </div>
                            </figure>
                            <div class="media-body">
                                <h3 class="mt-0"><a href="#">{{ randomHotel.name }}</a></h3>
                                <p>{{ randomHotel.description }}</p>
                                <p><a href="#" class="btn btn-primary btn-sm">Book Now A Room from It</a></p>
                            </div>
                        </div>
                    {% else %}
                        <h3>No random hotel available.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
