{% extends 'site.html.twig' %}

{% block title %}Edit Hotel{% endblock title %}

{% block lable %}
    <h1>Edit Hotel</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Edit Hotel Form</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.location) }}
                            {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.rating) }}
                            {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.rating) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.contact) }}
                            {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.contact) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.website) }}
                            {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.website) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.category) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.timeIn) }}
                            {{ form_widget(form.timeIn, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.timeIn) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.timeOut) }}
                            {{ form_widget(form.timeOut, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.timeOut) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.photo) }}
                            {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.photo) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                        {{ form_label(form.policies) }}
                        {{ form_widget(form.policies, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.policies) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save Changes" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
