{% extends 'base.html.twig' %}

{% block title %}Register{% endblock title %}

{% block body %}
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">Register</h3>
                                    <p class="mb-0">Enter your details to create an account</p>
                                </div>
                                <div class="card-body">
                                    {{ form_start(registrationForm) }}
                                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.dateBirth, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_row(registrationForm.nationnality, {'attr': {'class': 'form-control'}}) }}
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Register</button>
                                    </div>
                                    {{ form_end(registrationForm) }}
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Already have an account?
                                        <a href="{{ path('app_login') }}" class="text-info text-gradient font-weight-bold">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{{ asset('securityUI/img/curved-images/wall_register.jpg') }}')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{{ asset('securityUI/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('securityUI/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="{{ asset('securityUI/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{{ asset('securityUI/css/soft-ui-dashboard.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!--   Core JS Files   -->
    <script src="{{ asset('securityUI/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('securityUI/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('securityUI/js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('securityUI/js/plugins/smooth-scrollbar.min.js') }}"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ asset('securityUI/js/soft-ui-dashboard.min.js') }}"></script>
{% endblock javascripts %}
