{% extends 'site.html.twig' %}

{% block title %}Home{% endblock %}

{% block lable %}
    <h1>Welcome To Our Luxury Rooms</h1>
    <p>Discover our world's #1 Luxury Room For VIP.</p>
    <p><a href="{{ url('app_hotel') }}" class="btn btn-primary">Book Now</a></p>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="heading-wrap text-center element-animate">
                        <h4 class="sub-heading">Stay with our luxury rooms</h4>
                        <h2 class="heading">Stay and Enjoy</h2>
                        <p class="mb-5">Welcome to our world of luxury. Immerse yourself in unparalleled elegance, where
                            every detail is meticulously crafted to exceed your expectations. From lavish suites to
                            personalized service, indulge in the extraordinary and elevate your travel experience with
                            us. Book now and embark on a journey of unparalleled refinement.</p>
                        <p><a href="{{ url('app_room') }}" class="btn btn-primary btn-sm">explore you're first room</a></p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <img src="{{ asset('images/f_img_1.png') }}" alt="Image placeholder" class="img-md-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 heading-wrap text-center">
                    <h4 class="sub-heading">Our Luxury Rooms</h4>
                    <h2 class="heading">Featured Rooms</h2>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-7">
                    <div class="media d-block room mb-0">
                        <figure>
                            <img src="{{ asset('images/img_1.jpg') }}" alt="Generic placeholder image"
                                 class="img-fluid">
                        </figure>
                        <div class="media-body">
                            <h3 class="mt-0"><a href="#">{{ hotels[0].name }}</a></h3>
                            <p>{{ hotels[0].description }}</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Book Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 room-thumbnail-absolute">
                    <a href="#" class="media d-block room bg first-room"
                       style="background-image: url({{ asset('images/img_2.jpg') }}); ">
                        <!-- <figure> -->
                        <div class="overlap-text">
                  <span>
                    {{ hotels[1].name }}
                  </span>
                        </div>
                        <!-- </figure> -->
                    </a>

                    <a href="#" class="media d-block room bg second-room"
                       style="background-image: url({{ asset('images/img_4.jpg') }}); ">
                        <!-- <figure> -->
                        <div class="overlap-text">
                  <span>
                    {{ hotels[2].name }}
                  </span>
                        </div>
                        <!-- </figure> -->
                    </a>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}
