{% extends 'site.html.twig' %}

{% block title %}My Reservations{% endblock %}

{% block lable %}
    <h1>My Reservations</h1>
{% endblock lable %}

{% block content %}
    {% if reservations is empty %}
        <div style="height: 500px;" class="flex-column d-flex align-items-center justify-content-center">
            <h2>You have no reservations.</h2>
            <hr>
            <a href="{{ path('app_room') }}" class="btn btn-black btn-sm">Show Rooms</a>
        </div>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Total Price</th>
                <th>Payment Status</th>
                <th>Special Requests</th>
                <th>Guest Number</th>
                <th>Promo Code</th>
                <th>Hotel</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.checkIn|date('Y-m-d H:i') }}</td>
                    <td>{{ reservation.checkOut|date('Y-m-d H:i') }}</td>
                    <td>{{ reservation.totalPrice }}</td>
                    <td>{{ reservation.paymentStatus }}</td>
                    <td>{{ reservation.specialRequests|join(', ') }}</td>
                    <td>{{ reservation.guestNbr }}</td>
                    <td>{{ reservation.promoCode }}</td>
                    <td>{{ reservation.hotel.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
