{% extends 'site.html.twig' %}

{% block title %}Create a Reservation{% endblock title %}

{% block label %}
    <h1>Create a Reservation</h1>
{% endblock label %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Reservation Form</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.checkIn) }}
                            {{ form_widget(form.checkIn, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.checkIn) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.checkOut) }}
                            {{ form_widget(form.checkOut, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.checkOut) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.specialRequests) }}
                        {{ form_widget(form.specialRequests, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.specialRequests) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.guestNbr) }}
                            {{ form_widget(form.guestNbr, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.guestNbr) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.promoCode) }}
                            {{ form_widget(form.promoCode, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.promoCode) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hotel) }}
                        {{ form_widget(form.hotel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.hotel) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save Reservation" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
