{% extends 'site.html.twig' %}

{% block title %}Hotels{% endblock title %}

{% block lable %}
    <h1>Hotels</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section py-lg">
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-3 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box">
                    <h3 class="heading">Luxury Rooms</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            {% for room in luxuryRooms %}
                                <li>
                                    <a href="">
                                        <img src="{{ asset(random(['images/img_1.jpg', 'images/img_2.jpg', 'images/img_3.jpg', 'images/img_4.jpg', 'images/img_5.jpg', 'images/img_6.jpg'])) }}"
                                             alt="Image placeholder"
                                             class="mr-4">
                                        <div class="text">
                                            <h4>{{ room.hotel.name }}</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">{{ room.capacity }} Guests</span> &bullet;
                                                <span class="ml-2"><span class="fa fa-bank"></span> price {{ room.priceNight }} $</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories" style="max-height: 500px; overflow-y: auto;">
                        <li><a href="{{ path('app_hotel') }}">all hotels</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for hotel in pagination %}
                        <div class="col-md-4 mb-4">
                            <div class="media d-block room mb-0">
                                <figure>
                                    <img src="{% if hotel.photo is not null %}
                                                {{ asset('uploads/photos/' ~ hotel.photo) }}
                                                {% else %}
                                                {{ asset(random(['images/img_1.jpg', 'images/img_2.jpg', 'images/img_3.jpg', 'images/img_4.jpg', 'images/img_5.jpg', 'images/img_6.jpg'])) }}
                                                {% endif %}"
                                         alt="{{ hotel.name }}" class="img-fluid">
                                    <div class="overlap-text">
                                        <span>
                                            Stars
                                            {% for i in 1..hotel.rating %}
                                                <span class="ion-ios-star"></span>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </figure>
                                <div class="media-body">
                                    <h3 class="mt-0"><a href="#">{{ hotel.name }}</a></h3>
                                    <p>{{ hotel.description }}</p>
                                    <p>
                                        <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                                        <a href="{{ path('app_hotel_delete', {'id': hotel.id}) }}" class="btn btn-danger btn-sm"
                                           onclick="return confirm('Are you sure you want to delete this hotel?');">Delete</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>
{% endblock content %}
