{% extends 'site.html.twig' %}

{% block title %}Add a Room{% endblock title %}

{% block lable %}
    <h1>Add a Room</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Room Form</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.roomNbr) }}
                            {{ form_widget(form.roomNbr, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.roomNbr) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.capacity) }}
                            {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.capacity) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.priceNight) }}
                            {{ form_widget(form.priceNight, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.priceNight) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.view) }}
                            {{ form_widget(form.view, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.view) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.bedType) }}
                            {{ form_widget(form.bedType, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.bedType) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.smokingPref) }}
                            {{ form_widget(form.smokingPref, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.smokingPref) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.avalibility) }}
                        {{ form_widget(form.avalibility, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.avalibility) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hotel) }}
                        {{ form_widget(form.hotel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.hotel) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save Room" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3 class="mb-5">Featured Room</h3>
                    <div class="media d-block room mb-0">
                        <figure>
                            <img src="{{ asset('images/img_1.jpg') }}" alt="Generic placeholder image" class="img-fluid">
                            <div class="overlap-text">
                                <span>
                                    Stars
                                    {% for i in 1..randomRoom.hotel.rating %}
                                        <span class="ion-ios-star"></span>
                                    {% endfor %}
                                </span>
                            </div>
                        </figure>
                        <div class="media-body">
                            <h3 class="mt-0"><a href="#">{{ randomRoom.hotel.name }}</a></h3>
                            <ul class="list-unstyled">
                                <li><strong>Room Number :</strong> {{ randomRoom.roomNbr }}</li>
                                <li><strong>Capacity :</strong> {{ randomRoom.capacity }}</li>
                                <li><strong>Price per Night :</strong> {{ randomRoom.priceNight }} $</li>
                                <li><strong>View :</strong> {{ randomRoom.view }}</li>
                                <li><strong>Bed Type :</strong> {{ randomRoom.bedType }}</li>
                                <li><strong>Smoking Preference :</strong> {{ randomRoom.smokingPref ? 'Smoking' : 'Non-Smoking' }}</li>
                            </ul>
                            <p><a href="#" class="btn btn-primary btn-sm">Book Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
