{% extends 'site.html.twig' %}

{% block title %}Edit Room{% endblock title %}

{% block lable %}
    <h1>Edit Room</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Edit Room Form</h2>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.roomNbr) }}
                            {{ form_widget(form.roomNbr, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.roomNbr) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.capacity) }}
                            {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.capacity) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.priceNight) }}
                            {{ form_widget(form.priceNight, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.priceNight) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.view) }}
                            {{ form_widget(form.view, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.view) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.bedType) }}
                            {{ form_widget(form.bedType, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.bedType) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_label(form.smokingPref) }}
                            {{ form_widget(form.smokingPref, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.smokingPref) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.avalibility) }}
                        {{ form_widget(form.avalibility, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.avalibility) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hotel) }}
                        {{ form_widget(form.hotel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.hotel) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save Changes" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
