{% extends 'site.html.twig' %}

{% block title %}Rooms{% endblock title %}

{% block lable %}
    <h1>Rooms</h1>
{% endblock lable %}

{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                {% for room in pagination %}
                    <div class="col-md-4">
                        <div class="post-entry">
                            <img src="{{ asset(random(['images/img_1.jpg','images/img_2.jpg','images/img_3.jpg','images/img_4.jpg','images/img_5.jpg','images/img_6.jpg',])) }}" alt="Image placeholder" class="img-fluid">
                            <div class="body-text">
                                <div class="category">Room Number: {{ room.roomNbr }}</div>
                                <h3 class="mb-3"><a href="blog-single.html">{{ room.hotel.name }}</a></h3>
                                <p class="mb-4">{{ room.capacity }} Guests</p>
                                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Book now for {{ room.priceNight }} $</a></p>
                                <p>
                                    <a href="{{ path('app_room_edit', {'id': room.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{{ path('app_room_delete', {'id': room.id}) }}" class="btn btn-danger btn-sm"
                                       onclick="return confirm('Are you sure you want to delete this room?');">Delete</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
{% endblock content %}
